<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <header>
  		<h1>Photo Drop</h1>
      <h2>A place for photographers and enthusiasts to share and collab</h2>
  		<span><button><a href="/">New Post!</a></button>
      <button><a href="/">All Contributers</a></button>
      <button><a href="/">All Submissions</a></button></span>

  	</header>

  	<main>
  		<ul>
  			<% for(let i = 0; i < photos.length; i++){ %>
  				<li><a href="/photos/<%= photos[i].id%>"><%= photos[i].id %></a></li>
  			<%}%>
  		</ul>
  	</main>

</body>
</html>
