<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Create a New Photo</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/photos">Photos Index</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <form action="/photos" method="POST">
        <input type="text" name="name">
        <button type="submit">Submit</button>
      </main>
  </body>
</html>
