<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><%=photo.name%>'s Page</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/photos">Photos Index</a></li>

        </ul>
      </nav>
    </header>

<main>
  <section>
    <h2>Photo Attributes</h2>
    <ul>
      <li>Name: <%=photo.name%></li>
      <section>
        <a href="/photos/<%=photo.id%>/edit">Edit</a>
      </section>
    </ul>
    <form  action="/photos/<%=photo.id%>?_method=DELETE" method="POST">
<button type="submit">delete photo</button>
</form>
  </section>
</main>


  </body>
</html>
