<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </head>

  <body>

    <header>
		<h1><%=photo.user%></h1>
		<nav>
			<button><a href="/">Home</a></button>
			<button><a href="/Photos">Back to Photo Index</a></button>
		</nav>
	</header>

	<main>




	</main>

	<section>
		<button><a href="/photos/<%= photo.id %>/edit">Edit My Info</a></button>
		<form method="POST" action="/photos/<%= photo.id %>?_method=DELETE">
			<input type="submit" value="Delete My Post">
		</form>
	</section>

  </body>
</html>
