body {
  color: #F3E6C4;
  background-color: #D6B195;
  text-align:left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px
}
li {
    color: #F3E6C4;
    font-size: 25px;
    padding: 5px 0 5px 0;
}
ul {
    list-style-type: none;
    font-size: 25px
    color: #F3E6C4;
}
